<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Photo Viewer</title>
</head>
<body>
    <div class="fotos">
        <div class="foto">
            <p>LINK FOTO 1</p>
            <img src="<%= link1 %>">
        </div>
        <div class="foto">
            <p>LINK FOTO 2</p>
            <img src="<%= link2 %>">
        </div>
    </div>
    
</body>
</html>